In [1]:
import pandas as pd
import numpy as np
from scipy import stats, integrate
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
Maindata = pd.read_csv('SYPS cohort83_4_sweep1.csv')# This is main database
Sub1 = pd.read_csv('rec36_scesubj2.csv')  # The following are Sub-database
Sub2= pd.read_csv('rec40_scesbjq.csv')
Sub3= pd.read_csv('rec42_othrsubj.csv')
Sub4= pd.read_csv('rec43_schlqual.csv')
Sub5= pd.read_csv('rec44_modschl.csv')
Maindata.head()

,publicid,rewghtcv,achievev,cohortv,leaverv,questv,versionv,frthokv,truant2v,ptjb4thv,...,addrdetl,addrelv,scotvecv,commentv,mcoderv,change1v,change2v,rday,rmonth,type
0,100007,1.16057300567627,1,1,1,2,1,2,2,1,...,2,2,98,2,8,1,1,29,4,2
1,100014,.79980605840683,1,1,1,2,1,1,4,2,...,2,2,98,2,6,1,1,11,4,2
2,100021,1.11099815368653,1,1,1,2,1,2,1,2,...,2,2,98,2,6,0,0,11,4,2
3,100028,1.11099815368653,1,1,1,2,2,1,1,2,...,2,2,2,1,4,1,0,2,4,2
4,100035,1.11099815368653,1,1,1,2,1,1,3,2,...,2,2,1,1,1,0,0,28,3,2

# s4

Whether fourth year was worthwhile

In [3]:
Achievedata=Maindata[Maindata['achievev']==1]  #people who achieved questionnaire
Achievedata['frthokv'].value_counts()

1     4770
2     1600
99     131
Name: frthokv, dtype: int64

1-Yes
2-NO

How often played truant

In [4]:
Achievedata['truant2v'].value_counts()

1     2981
2     1806
3     1172
4      271
5      166
99     105
Name: truant2v, dtype: int64

1-Never<br>
2-A lesson here and there<br>
3-A day here and there<br>
4-Several days at a time<br>
5-Weeks at a time<br>

Grade

In [10]:
Sub1['subj4ov'].value_counts()

9     24612
1      9071
3      6473
2      5257
4      4380
8      3332
96     3105
5      2787
6      2145
7       754
Name: subj4ov, dtype: int64

1-A<br>
2-B<br>
3-C<br>
4-D<br>
5-E<br>
6-SAT,No award<br>
7-SAT,No info<br>
8-prelim only<br>
9-did not sit 0 grade<br>

The relationship between taunt and grade?

# S5

Did your parents want you stay for another year?

In [11]:
Achievedata['s4s5pryv'].value_counts()

98    3589
1     2035
2      724
99     153
Name: s4s5pryv, dtype: int64

1-Yes
2-No

Did your parents want you leave school?

In [12]:
Achievedata['s4s5prnv'].value_counts()

98    3589
2     2162
1      523
99     227
Name: s4s5prnv, dtype: int64

Did your teacher want you stay for another year?

In [13]:
Achievedata['s4s5tcyv'].value_counts()

98    3589
2     1444
1     1338
99     130
Name: s4s5tcyv, dtype: int64

Did your teacher want you leave school?

In [14]:
Achievedata['s4s5tcnv'].value_counts()

98    3589
2     2610
1      178
99     124
Name: s4s5tcnv, dtype: int64

Did you start fifth year at school?

In [15]:
Achievedata['start5v'].value_counts()

1     3987
2     1811
98     603
99     100
Name: start5v, dtype: int64

If passed modules in college or school?

In [21]:
Achievedata['passmdcv'].value_counts()

99    4593
1      969
2      939
Name: passmdcv, dtype: int64

In [22]:
Achievedata['passmdsv'].value_counts()

99    3186
2     1942
1     1373
Name: passmdsv, dtype: int64

In [23]:
Achievedata[(Achievedata['s4s5prnv']==1)&(Achievedata['s4s5tcnv']==1)&(Achievedata['start5v']==0)]  # leave leave leave

Empty DataFrame
Columns: [publicid, rewghtcv, achievev, cohortv, leaverv, questv, versionv, frthokv, truant2v, ptjb4thv, vocexamv, howstd1v, howstd2v, howstd3v, howstd4v, howstd5v, wkextryv, linkcrsv, sitogrdv, tot4oacv, tot4oaev, tot4oatv, tot4odev, tot4odnv, tot4onkv, tot4ostv, tot4scpv, totoacv, totoaev, totoatv, totodev, totodnv, totonkv, totostv, s4s5pryv, s4s5tcnv, s4s5jobv, s4s5tcyv, s4s5prnv, s5frendv, burs5knv, bur5appv, start5v, y5th1v, y5th2v, y5th3v, y5th4v, y5th5v, y5th6v, y5th7v, y5th8v, y5th9v, y5th10v, y5thmv, passmdcv, passmdsv, nmdcompv, reflct5v, guid5thv, lookjobv, thnklevv, plandstv, jobfix2v, intend6v, courseqv, apunivqv, apceddqv, apcedtqv, apcedoqv, apdfeqv, apafeqv, apofeqv, apnursqv, apothrqv, qulmstqv, submstqv, instmqv, twnstayv, regdstyv, leftschv, mthleftv, yrleftv, trmlftrv, leavrtv, par5thv, tch5thv, ysclv1v, ysclv2v, ysclv3v, ysclv4v, ysclv5v, ysclv6v, ysclv7v, ysclv8v, ysclv9v, ysclvmv, jobfixdv, dooctv, donowv, ifjbytsv, ...]
Index: []

[0 rows x 254 columns]

In [25]:
Achievedata[(Achievedata['s4s5prnv']==1)&(Achievedata['s4s5tcnv']==1)&(Achievedata['start5v']==1)].shape # leave leave stay

(24, 254)

In [26]:
Achievedata[(Achievedata['s4s5pryv']==1)&(Achievedata['s4s5tcyv']==1)&(Achievedata['start5v']==0)] #stay stay leave

Empty DataFrame
Columns: [publicid, rewghtcv, achievev, cohortv, leaverv, questv, versionv, frthokv, truant2v, ptjb4thv, vocexamv, howstd1v, howstd2v, howstd3v, howstd4v, howstd5v, wkextryv, linkcrsv, sitogrdv, tot4oacv, tot4oaev, tot4oatv, tot4odev, tot4odnv, tot4onkv, tot4ostv, tot4scpv, totoacv, totoaev, totoatv, totodev, totodnv, totonkv, totostv, s4s5pryv, s4s5tcnv, s4s5jobv, s4s5tcyv, s4s5prnv, s5frendv, burs5knv, bur5appv, start5v, y5th1v, y5th2v, y5th3v, y5th4v, y5th5v, y5th6v, y5th7v, y5th8v, y5th9v, y5th10v, y5thmv, passmdcv, passmdsv, nmdcompv, reflct5v, guid5thv, lookjobv, thnklevv, plandstv, jobfix2v, intend6v, courseqv, apunivqv, apceddqv, apcedtqv, apcedoqv, apdfeqv, apafeqv, apofeqv, apnursqv, apothrqv, qulmstqv, submstqv, instmqv, twnstayv, regdstyv, leftschv, mthleftv, yrleftv, trmlftrv, leavrtv, par5thv, tch5thv, ysclv1v, ysclv2v, ysclv3v, ysclv4v, ysclv5v, ysclv6v, ysclv7v, ysclv8v, ysclv9v, ysclvmv, jobfixdv, dooctv, donowv, ifjbytsv, ...]
Index: []

[0 rows x 254 columns]

In [28]:
Achievedata[(Achievedata['s4s5pryv']==1)&(Achievedata['s4s5tcyv']==1)&(Achievedata['start5v']==1)].shape #stay stay stay

(988, 254)